#popup-window-div-body {
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: 400px;
	height: 200px;
}

#popup-content {
	display: flex;
	flex-flow: row;
	justify-content: center;
}


